{% extends "layouts/layout.html" %}
{% block body %}
    <div class ="row" style="padding-top: 100px;">
        <div class="col-12 text-center">
            <h2>Groups</h2>
        </div>
    </div>
    <div class ="row">
        <div class="col-12">
            <table id='groups-tbl' class='table'>
                <thead></thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="alert alert-info" role="alert">
                                Loading...
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-group col-12 p-0">
                                <input name="name" id="inputName" class="form-control" placeholder="Group Name" required="" autofocus="" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="form-group col-12 p-0">
                                <input name="description" id="inputDescription" class="form-control" placeholder="Little description" autofocus="" type="text">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary" name="addGroup" id="btnAddGroup" type="submit">
                                <i class="fa fa-plus-square"></i>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}


{% block localCss %}
<!--
    <link rel=stylesheet type=text/css href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block localJs %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.rawgit.com/turbod89/toDom/master/toDom.js"></script>

<script>


    const dataAddGroupParser = data => {

        /*
            string to short
        */
        [
            'name',
        ].forEach( fieldname => {

            
            if (data[fieldname].trim().length < 2) {
                return {
                    code: 1,
                    value: fieldname,
                }
            } else {
                data[fieldname] = data[fieldname].trim()
            }
        })

        return {code: 0, data: data}
    }

    const createTable = getGroups => {

        $('#groups-tbl').DataTable({
            "data": [],
            "columns": [
                {
                    "title": "Id",
                    "data": "id",
                },
                
                {
                    "title": "Name",
                    "data": "name",
                },
                {
                    "title": "Description",
                    "data": "description",
                },
                {
                    "title": "Actions",
                    "data": "id",
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                },
                {
                    "targets": [3],
                    "render": function (data,type,row,meta) {
                        return "";
                    },
                    "createdCell": function(td,cellData,rowData,row,col) {

                        toDom(['button',{'class': 'btn btn-outline-danger'}, 
                            ['i',{'class':'fa fa-trash-alt'}],
                            function $click (event) {
                                
                                $.ajax({
                                    url : '/api/admin/group',
                                    type: 'DELETE',
                                    dataType: 'json',
                                    contentType: "application/json; charset=utf-8",
                                    async: true,
                                    data : JSON.stringify({groupId: rowData.id}),
                                    success: function (data) { console.error(data); getGroups();},
                                    error: function (data) { console.error(data)}
                                });
                            }
                        ],{at:td})
                    },
                }
            ],
            

        });

    }


    const refreshTable = data => {
        const table = $('#groups-tbl').DataTable();
        table.clear()
        table.rows.add(data)
        table.draw();
    }

    const getGroups = () => {

        $.ajax({
            url : '/api/admin/groups',
            dataType: 'json',
            async: true,
            type: 'GET',
            data : {},
            success: refreshTable,
            error: function (data) { console.error(data)}
        });

    }


    $('document').ready(function () {


        $('button#btnAddGroup').click(function (event) {
            event.preventDefault();
            
            let data = {
                name: $('input#inputName').val(),
                description: $('input#inputDescription').val(),
            }
            
            const error = dataAddGroupParser(data);
            if ( error.code != 0) {
                return
            }
            
            $.ajax({
                url : '/api/admin/group',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                async: true,
                type: 'POST',
                data : JSON.stringify(error.data),
                success: function (data) { console.error(data); getGroups()},
                error: function (data) { console.error(data)}
            });
            
        });
        
        const table = createTable(getGroups)
        getGroups();

    });

</script>
{% endblock %}