{% extends "layouts/canvas_layout.html" %}
{% block localCss %}
<link rel="stylesheet" href="{{ url_for( 'static',filename='css/party.page.css' ) }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block localJs %}
<script type="text/javascript" src="{{ url_for('static',filename='js/socket.io.min.js') }}"></script>
<script>
    const g = {
        me: {
            id: {{ g.me.id }},
        },
        party: {
            token: "{{ token }}",
        },
    }
</script>
<script src="{{ url_for('static',filename='three.min.js') }}"></script>
<script src="{{ url_for('static',filename='orbitControls.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/cameraModel.class.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/lightManager.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/sceneManager.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/drawings.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/drawer.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/touchManager.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/userManager.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/region.class.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/card.class.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/table.class.js') }}"></script>
<script src="{{ url_for('static',filename='js/parties/started/party.page.js') }}"></script>
{% endblock %}