{% extends "layouts/layout.html" %}
{% block body %}
    <div class ="row" style="padding-top: 100px;">
        <div class="col-12 text-center">
            <h2>Open parties</h2>
        </div>
    </div>
    <div class ="row">
        <div class="col-12 text-center">
            <p><a class="" href="{{ url_for('parties.create_party') }}">Create party</a> or join to one of the following open parties:</p>
        </div>
    </div>

    <div class ="row">
        <div class="col-12 open-parties-col">
            <table id='_open-parties-tbl' class='table'>
                <thead></thead>
                <tbody>
                    <tr>
                        <td>
                            <!--

                                <div class="alert alert-info" role="alert">
                                    Loading...
                                </div>
                            -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block localCss %}
<!--
    <link rel=stylesheet type=text/css href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block localJs %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.rawgit.com/turbod89/toDom/master/toDom.js"></script>
<script>
    const g = {
        me: {
            id: {{ g.me.id }},
        },
    }
</script>
<script>
    class PartyListItem extends HTMLElement {
        constructor() {
            super()
        }
    }
</script>
<script>
    const partyListItem = party => {

        const participant_index = party.participants.findIndex(p => p.id == g.me.id)
        const actionButtons = []
        let me = null

        if (party.status === 'created' && party.participants.length < 4 && participant_index < 0) {
            actionButtons.push(
                toDom(['button',{'class': 'btn btn-outline-primary'}, 
                    ['i',{'class':'fa fa-plus'}],
                    ' Join',
                    function $click (event) {
                        
                        $.ajax({
                            url : '/api/parties/join/'+party.code,
                            type: 'GET',
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            async: true,
                            success: function (response) {
                                
                                if (response.errors && response.errors.length === 0) {
                                    console.log(response.data)
                                    me.parentNode.insertBefore(partyListItem(response.data),me)
                                    me.parentNode.removeChild(me)
                                } else {
                                    console.log(response)
                                }
                            },
                            error: function (data) { console.error(data)}
                        });
                    }
                ])
            )
        }
        
        if (party.status === 'created' && party.participants.length > 1 && participant_index >= 0 && party.owner.id != g.me.id) {
            actionButtons.push(
                toDom(['button',{'class': 'btn btn-outline-danger'}, 
                    ['i',{'class':'fa fa-minus'}],
                    ' Leave',
                    function $click (event) {
                        
                        $.ajax({
                            url : '/api/parties/leave/'+party.code,
                            type: 'GET',
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            async: true,
                            success: function (response) {
                                
                                if (response.errors && response.errors.length === 0) {
                                    console.log(response.data)
                                    me.parentNode.insertBefore(partyListItem(response.data),me)
                                    me.parentNode.removeChild(me)
                                    
                                } else {
                                    console.log(response)
                                }
                            },
                            error: function (data) { console.error(data)}
                        });
                    }
                ])
            )
        }
        
        
        if (party.status === 'started') {
            actionButtons.push(
                toDom(['a',{'class': 'btn btn-outline-primary',href: party.url}, 
                    ['i',{'class':'fa fa-eye'}],
                    ' Watch',
                ])
            )
        }
        
        me = toDom(
            [
                'div',
                {'class':'card col-sm-6 col-md-4 mx-3 mb-3'},
                [
                    'div',
                    {'class':'card-body'},
                    [
                        'h5',
                        {'class':'card-title'},
                        party.name || '',
                    ],
                    [
                        'h6',
                        {'class':'card-title mb-2 text-muted'},
                        party.owner.first_name || '', ' ',
                        party.owner.last_name || '',
                    ],
                    [
                        'div',
                        {'class': 'mb-2 text-center'},
                        [
                            (ud,i) => ['img', {
                                'src': '/profile/avatar/'+ud.id,
                                'width': 48,
                                'height': 48,
                                'class': "mx-1 rounded-circle img-thumbnail" + (ud.id === party.owner.id ? ' border-primary' : ''),
                                'data-toggle': 'tooltip',
                                'data-placement': 'bottom',
                                'title': ud.first_name + ' ' + ud.last_name,
                            }],
                            party.participants,
                        ]
                    ],
                    actionButtons,
                ],
            ]
        )

        return me
    }

    const partyList = partiesData => {
        let me = null
        const partiesList = partiesData.map(partyListItem)

        me = toDom(
            [
                'div',
                {'class': 'row'},
                [
                    'div',
                    {'class': 'col-12'},
                    [
                        'div',
                        {'class': 'input-group mb-3'},
                        [
                            'div',
                            {'class': 'input-group-prepend'},
                            [
                                'span',
                                {'class':'input-group-text',id: 'filter-lbl'},
                                'Filter:',
                            ],
                        ],
                        [
                            'input',
                            {
                                'type':'text',
                                'class':'form-control',
                                'placeholder':'',
                            },
                            function $keyup (event) {
                                partiesList.forEach ((partyElement,i) => {
                                    if (this.value.length > 2) {
                                        const partyData = partiesData[i]
                                        const r = new RegExp(this.value,'ig')
                                        const match = r.test(partyData.name)
                                            || r.test(partyData.owner.first_name + ' ' + partyData.owner.last_name)
                                        
                                        
                                        if (match) {
                                            partyElement.classList.remove('d-none')    
                                        } else {
                                            partyElement.classList.add('d-none')
                                        }

                                    } else {
                                        partyElement.classList.remove('d-none')
                                    }

                                })
                                    
                            }
                        ],
                    ],
                ],
                partiesList,
            ]
        )
        
        return me
    }
</script>
<script>

    
    const dataAddGroupParser = data => {

        /*
            string to short
        */
        [
            'name',
        ].forEach( fieldname => {

            
            if (data[fieldname].trim().length < 2) {
                return {
                    code: 1,
                    value: fieldname,
                }
            } else {
                data[fieldname] = data[fieldname].trim()
            }
        })

        return {code: 0, data: data}
    }

    const createTable = getParties => {

        $('#open-parties-tbl').DataTable({
            "data": [],
            "columns": [
                {
                    "title": "Name",
                    "data": "name",
                },
                { "title": "Status", "data": "status", },
                { "title": "Users", "data": "participants", },
                {
                    "title": "Actions",
                    "data": "id",
                },
            ],
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": false,
                },
                {
                    "targets": [1],
                    "render": function (data,type,row,meta) {
                        return data
                    },
                    "createdCell": function(td,cellData,rowData,row,col) {

                    },
                },
                {
                    "targets": [2],
                    "render": function (data,type,row,meta) {
                        return data.map(ud => ud.email).reduce( (prev,curr) => prev + ', ' + curr)
                    },
                    "createdCell": function(td,cellData,rowData,row,col) {
                        td.innerHTML = ''
                        toDom([
                            (ud,i) => ['img', {
                                'src': '/profile/avatar/'+ud.id,
                                'width': 48,
                                'height': 48,
                                'class': "rounded-circle img-thumbnail float-right" + (ud.id === rowData.owner.id ? ' border-primary' : ''),
                                'data-toggle': 'tooltip',
                                'data-placement': 'bottom',
                                'title': ud.first_name + ' ' + ud.last_name,
                            }],
                            cellData,
                        ],{at:td})
                    },
                },
                {
                    "targets": [3],
                    "render": function (data,type,row,meta) {
                        return "";
                    },
                    "createdCell": function(td,cellData,rowData,row,col) {

                        const participant_index = rowData.participants.findIndex(p => p.id == g.me.id)

                        if (rowData.status === 'created' && rowData.participants.length < 4 && participant_index < 0) {
                            toDom(['button',{'class': 'btn btn-outline-primary'}, 
                                ['i',{'class':'fa fa-plus-square'}],
                                function $click (event) {
                                    
                                    $.ajax({
                                        url : '/api/parties/join/'+rowData.code,
                                        type: 'GET',
                                        dataType: 'json',
                                        contentType: "application/json; charset=utf-8",
                                        async: true,
                                        data : JSON.stringify({groupId: rowData.id}),
                                        success: function (response) {
                                            
                                            if (response.errors && response.errors.length === 0) {
                                                console.log(response.data)
                                                $('#open-parties-tbl').DataTable().rows(row).data(response.data).draw()
                                            } else {
                                                console.log(response)
                                            }
                                        },
                                        error: function (data) { console.error(data)}
                                    });
                                }
                            ],{at:td})
                        } else if (rowData.status === 'created' && rowData.participants.length > 1 && participant_index >= 0 && rowData.owner.id == g.me.id) {
                            toDom(['button',{'class': 'btn btn-outline-danger'}, 
                                ['i',{'class':'fa fa-minus-square'}],
                                function $click (event) {
                                    
                                    $.ajax({
                                        url : '/api/parties/left/'+rowData.code,
                                        type: 'GET',
                                        dataType: 'json',
                                        contentType: "application/json; charset=utf-8",
                                        async: true,
                                        data : JSON.stringify({groupId: rowData.id}),
                                        success: function (response) {
                                            
                                            if (response.errors && response.errors.length === 0) {
                                                console.log(response.data)
                                                $('#open-parties-tbl').DataTable().rows(row).data(response.data).draw()
                                            } else {
                                                console.log(response)
                                            }
                                        },
                                        error: function (data) { console.error(data)}
                                    });
                                }
                            ],{at:td})
                        } else if (rowData.status === 'started') {
                            toDom(['a',{'class': 'btn btn-outline-primary',href: rowData.url}, 
                                ['i',{'class':'fa fa-eye'}],
                                
                            ],{at:td})
                        }
                    },
                },
            ],
            

        });

    }


    const refreshTable = data => {
        const table = $('#open-parties-tbl').DataTable();
        table.clear()
        table.rows.add(data)
        table.draw();

        toDom(partyList(data),{at:'.open-parties-col'})
    }

    const getParties = () => {

        $.ajax({
            url : '/api/parties/',
            dataType: 'json',
            async: true,
            type: 'GET',
            data : {},
            success: refreshTable,
            error: function (data) { console.error(data)}
        });

    }


    $('document').ready(function () {


        $('button#btnAddGroup').click(function (event) {
            event.preventDefault();
            
            let data = {
                name: $('input#inputName').val(),
                description: $('input#inputDescription').val(),
            }
            
            const error = dataAddGroupParser(data);
            if ( error.code != 0) {
                return
            }
            
            $.ajax({
                url : '/api/admin/group',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                async: true,
                type: 'POST',
                data : JSON.stringify(error.data),
                success: function (data) { console.error(data); getParties()},
                error: function (data) { console.error(data)}
            });
            
        });
        
        const table = createTable(getParties)
        getParties();

    });

</script>
{% endblock %}